{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <nav class="navbar" style="margin-top:3%; text-align: center;">
        <img style="width:30%" src="static/multi.png" alt="">
    </nav>

    <div class="container">
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Image To Translated Text</h2>
            <p></p>
            <a href="#">Select</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Text to Translated Text</h2>
            <p></p>
            <a href="translate">Select</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Speech to Translated Speech</h2>
            <p></p>
            <a href="#">Select</a>
          </div>
        </div>
      </div>
      <form action="trans">
        <input type="text" name="text">
        <input type="submit">
            </form>

</body>
</html>