asgiref==3.4.1
certifi==2021.10.8
chardet==3.0.4
Django==3.2.11
gensim==3.8.3
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
numpy==1.21.5
Pillow==9.0.0
pytesseract==0.3.8
pytz==2021.3
rfc3986==1.5.0
scipy==1.7.3
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
sqlparse==0.4.2
typing-extensions==4.0.1
whitenoise==5.3.0
